<h1>Day Book</h1>

<p>Hi <%= @user.name %></p>
<p>
  Thanks for checking out Day Book!
</p>
<p>
  Would you mind opening this link to confirm this is your real email address?
</p>
<%= link_to "Activate my account", edit_account_activation_url(@user.activation_token, email: @user.email) %>