<h1>Day Book</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  We're just confirming that you signed up for a Day Book account with this email address.
  (If it wasn't you, don't sweat it. Just hit reply, let us know and we'll delete the account.)
</p>

<p>We won't bug you with lots of emails, but there are a few things we will email you about:</p>
<ol>
 <li>If you request a password reset we'll send you a secure reset link</li>
 <li>Any important changes or updates to your Day Book account</li>
 <li>If someone invites you to work with them on Day Book</li>
</ol>

<p>That's it! If there's anything else you're wondering about, just hit reply and ask us!</p>
