<p>
  <em><%= comment.commenter %> commented:</em>
  <span class="fr silver"><%= local_time_ago(comment.created_at) %></span>
</p>
<p>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Delete comment', [comment.article, comment],
              remote: true,
              method: :delete,
              data: { confirm: "Definitely delete #{comment.commenter}\'s comment?" } %>
</p>
