<% provide(:title, 'Sign up') %>

<header class="tc">
  <h1>Sign up for Day Book</h1>
  <span>
  	With an account you'll be able to post your own Articles which readers can comment on.
  </span>
</header>

<%= render 'form' %>
<p class="tc">
  Already have an account? <%= link_to 'Sign in here', sign_in_path %>
</p>
