<% provide(:title, 'Sign up') %>

<h1 class="black b f1 tc db">Sign up for Day Book</h1>
<p>
	Soon, Day Book will go from being public and anonymous to requiring an account.
	With an account you'll be able to post your own Articles which readers can comment on.
</p>
<p>
	Sign up for an account now and we'll keep you posted.
<p>
