<div class="mw6 mv3 center pa3 pa4-ns bg-white br3">
  <div class="cf mb4 pb3 bb b--light-gray">
    <div class="fl pr3"><%= gravatar_for(@user, size: 80, res: 160) %></div>
    <div class="fl">
      <h1 class="mt0 f3"><%= @user.name %></h1>
      <div><%= @user.email %></div>
      <div class="gray">Joined <%= local_date(@user.created_at) %></div>
    </div>
  </div>
  <div class="tc gray">
    Settings will go here I spose
  </div>
</div>
