<div class="mw5 mv3 center pa3 pa4-ns bg-white tc br3">
  <div class="mt4"><%= gravatar_for(@user, size: 160, res: 320) %></div>
  <h1><%= @user.name %></h1>
  <span><%= @user.email %></span>
  <p class="gray">Joined <%= local_date(@user.created_at) %></p>
</div>
