<% provide(:title, "Welcome") %>

<header class="mv4 tc">
  <h1 class="f1 f-headline-ns lh-solid tc db mt0 mb3 mb4-ns">
    Day Book
  </h1>
</header>

<nav>
  <p class="tc">
    There's not a lot to do here, but you're welcome to read and discuss some
    <%= link_to 'Articles', controller: 'articles' %> or, you can find out
    <%= link_to 'about', about_path %> Day Book.
  </p>
	<div class="mt5 pa3 bg-light-yellow tc b br2 mid-gray">
		Account-only features are coming soon.
		Get a head start and <%= link_to 'sign up for an account', signup_path, class: "db" %>
  </div>
</nav>

<p class="mt5 tc gray">😊 Happy <%= local_time(Date.today, '%A') %>!</p>
