<header class="mv4 tc">
  <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="/" title="Home">Day Book</a>
</header>

<nav class="tc">
  There's only one thing to do here:
  <%= link_to 'read some articles →', controller: 'articles' %>
</nav>

<h2 class="mt5 tc gray">😊 Happy <%= Date.today.strftime('%A') %>!</h2>
