<% provide(:title, "Welcome") %>

<h1 class="mb4-l f3 f1-m f-headline-l">Day Book</h1>
<div class="cf">
  <div class="measure">
    <p>
      A peaceful writing space with basic formatting tools and version control.
    </p>
    <p>
      Write, get feedback, publish, archive.
    </p>
    <div class="mt5 b">
      Sound good?
      <%= link_to 'Sign up and start writing', signup_path, class: "db" %>
    </div>
  </header>
</div>

<p class="mt5 gray">😊 Happy <%= local_time(Date.today, '%A') %>!</p>
