<% provide(:title, "Welcome") %>

<header class="mv4 tc">
  <h1 class="f1 f-headline-ns lh-solid tc db mt0 mb3 mb4-ns">
    Day Book
  </h1>
</header>

<nav>
  <p class="tc">
    A peaceful place to write and share your long-form thoughts.
  </p>
	<div class="mw6 center mt5 pa3 bg-light-purple tc b br2">
		Account-only features are coming soon.
		Get a head start and
    <%= link_to 'sign up for an account', signup_path, class: "db white hover-white grow" %>
  </div>
</nav>

<p class="mt5 tc gray">😊 Happy <%= local_time(Date.today, '%A') %>!</p>
