body {
  font-family: $system-font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  text-rendering: optimizeLegibility;
}

// Typography
p, dl, ol, ul, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0;
  line-height: $line-height-headings;
}

h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.5rem; }
h3, .h3 { font-size: 1.25rem; }
h4, .h4 { font-size: 1rem; }
h5, .h5 { font-size: 0.75rem; }
h6, .h6 { font-size: 0.75rem; }

a {
  color: $text-blue;

  &:hover,
  &:focus {
    color: darken($text-blue, 10%)
  }

  &:active {color: darken($text-blue, 20%)}
}

.avatar {
  width: 5rem;
  border-radius: 9999px;
}

.debug_dump {
  position: fixed;
  right: 0;
  bottom: 0;
  left:0;
  display: block;
  margin: 0;
  padding: 0.5rem;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
}
