.flash {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  text-align: center;
  animation: scale-fade-in 0.2s linear;
}

.flash-content {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  
  > a { color: #fff; }
}