// Beige for days
.linen { color: linen; }
.floralwhite { color: floralwhite; }

.bg-linen { background-color: linen; }
.bg-floralwhite { background-color: floralwhite; }

// The Color Purple by Alice Walker
.washed-purple { color: #d2aff1; }

.bg-washed-purple { background-color: #d2aff1; }