// Override and supplement Trix's included stylesheet
trix-editor, .trix-content {
  line-height: 1.5;

  h1 {
      margin-top: 0;
      margin-bottom: 0.5em;
      line-height: 1.25;
      font-size: 1.5rem;
  }

  ol, ul {
    padding-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;

    > li {
      margin-left: 0;
    }
  }
}

trix-editor {
  min-height: 8rem;
}

trix-toolbar {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  overflow: scroll;

  .button_group {
    margin-bottom: 0;
    border-bottom: 0;
    border: 0;
    border-radius: 0;

    button {
      height: 2rem;
      width: 2rem;
      border: 0;
      cursor: pointer;

      &:not(:first-child) {
        border: 0;
      }
    }
  }

  // The undo/redo buttons don't quite fit with our preferred page width
  .history_tools {
    float: right;
  }
}
