// Override and supplement Trix's included stylesheet
trix-editor, .trix-content {
  line-height: 1.5;

  h1 {
      margin-top: 0;
      margin-bottom: 0.5em;
      line-height: 1.25;
      font-size: 1.25rem;
  }

  ol, ul {
    padding-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;

    > li {
      margin-left: 0;
    }
  }
}

trix-editor {
  min-height: 8rem;
}

trix-toolbar {
  .button_group {
    border: 0;

    button {
      border-bottom: 0;
      border-radius: 9999px;

      &:not(:first-child) {
        border-left: 0;
        margin-left: 2px;
      }
    }
  }
}