// Override and supplement Trix's included stylesheet
trix-editor, .trix-content {
  line-height: 1.5;

  h1 {
      margin-top: 0;
      margin-bottom: 0.5em;
      line-height: 1.25;
      font-size: 1.25rem;
  }

  ol, ul {
    padding-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;

    > li {
      margin-left: 0;
    }
  }
}

trix-toolbar {
  .button_group {
    border: 0;
    margin: 0;

    button {
      border-bottom: 0;
      border-radius: 0;

      &:not(:first-child) {
        border-left: 0;
      }
      
      // Tall buttons for thumbs
      &.icon {
        width: 2rem;
        height: 2.5rem;
      }

      &.icon:before {
        background-size: initial;
      }
    }
  }
  
  // Square buttons for mouse cursors
  @media #{$breakpoint-not-small} {
    .button_group button {
      &.icon {
        height: 2rem;
      }
    }
  }
}
