// Typography
// -----------------------------------------------------------------------------
$font-size-base: 16px;
$line-height-base: 1.5;

$system-font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji",
                     "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                     "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
                     sans-serif;

// Headings
$line-height-headings: 1.2;
