<!DOCTYPE html>
<html>
  <head>
    <title>Day Book</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="mw7 ph3 pb4 ph6-l center">
      <%= yield %>
    </div>
  </body>
</html>
